django>=3.2,<4
django-filter
pytz>=0a
humanize
pydicom
pynetdicom
xlsxwriter
python-dateutil
django-solo
django-crispy-forms
pandas
matplotlib
plotly
openpyxl
testfixtures
mock
django-js-reverse
requests
numpy
scipy
defusedxml
psycopg2-binary
gunicorn
