django>=3.2,<4
django-filter
pytz>=0a
humanize
pydicom
pynetdicom
xlsxwriter
django-qsstats-magic
python-dateutil
django-solo
django-crispy-forms
pandas
matplotlib
plotly
openpyxl
testfixtures
mock
django-js-reverse
requests
numpy
scipy
defusedxml
psycopg2-binary
gunicorn
sphinx>=4.3.0
sphinx-rtd-theme>=0.5.1
readthedocs-sphinx-ext==2.1.1
sphinx-issues==1.2.0
sphinxcontrib-programoutput
sphinxcontrib-autoprogram
sphinx-argparse
sphinx-copybutton
