django>=3.2,<4
django-filter
pytz>=0a
humanize
pydicom
pynetdicom
xlsxwriter
django-qsstats-magic
python-dateutil
django-solo
django-crispy-forms
pandas
matplotlib
plotly
openpyxl
testfixtures
mock
django-js-reverse
requests
numpy
scipy
defusedxml
psycopg2-binary
gunicorn
huey
sphinx==5.3.0
sphinx_rtd_theme==1.1.1
readthedocs-sphinx-ext==2.2.0
sphinx-issues==3.0.1
sphinxcontrib-programoutput
sphinxcontrib-autoprogram
sphinx-argparse
sphinx-copybutton
