{% extends "remapp/base.html" %}

    {% load pagination_tags %}

    {% block headextras %}
        <style type="text/css">
            div.inline_div { display:inline; }
            .labels { display:none; }
            div.built_search_string
            {
                background-color:#E6E6E6;
                border-width: thin;
                border-style:solid;
                border-color:#7092BE;
            }
      </style>

      {% block headscript %}
      {% endblock %}
    {% endblock %}
    {% block mainblock %}
        <div class="row">
            <div class="col-md-12">
                <form action="" method="get" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSearch">
                            <h4 class="panel-title">
                                <span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                                    Advanced Search
                                </span>
                            </h4>
                        </div>
                        <div id="collapseSearch" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSearch">
                            <div class="advanced_search">
                               <div id="div_search_string" class="built_search_string">
                                 {{ advancedSearchString.as_p }}
                               </div>
                               <div class="edit_search_string">
                                   <button onclick="gotoEditMode()" id="edit" style="visibility:hidden" >Edit</button>
                                   <button id="cancel" style="display:none;">Cancel</button>
                               </div>
                               <div id="search_builder" class="search_builder_class">
                               </div>
                               <input class="btn btn-default" name="submit" type="submit" />
                            </div>
                        </div>
                    </div>
                </form>

                {% block chart %}
                {% endblock %}

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingChart">
                        <h4 class="panel-title">
                            <span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseChart" aria-expanded="false" aria-controls="collapseChart">
                                Results
                            </span>
                        </h4>
                    </div>
                    {%  if not examset %}
                        <div id="collapseChart" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingChart">
                    {% else %}
                        <div id="collapseChart" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingChart">
                            {% autopaginate examset request.user.userprofile.itemsPerPage %}
                            {% paginate %}

                            <table class="table table-bordered table-hover row-clickable small">
                                <tr>
                                    <th>Institution</th>
                                    <th>
                                        <table>
                                            <tr><td>Make</td></tr>
                                            <tr><td>Model</td></tr>
                                            <tr><td class="nowrap">Display name</td></tr>
                                        </table>
                                    </th>
                                    <th>Date</th>
                                    <th>
                                        <table>
                                            <tr><td class="nowrap">Study description</td></tr>
                                            <tr><td class="nowrap">Procedure</td></tr>
                                            <tr><td class="nowrap">Requested Procedure</td></tr>
                                            <tr><td class="nowrap">Accession number</td></tr>
                                        </table>
                                    </th>
                                    <th>Number of events</th>
                                    <th>Total DLP (mGy.cm)</th>
                                    {% if admin.admingroup %}
                                        <th>Delete?</th>
                                    {% endif %}
                                </tr>
                                {% for exam in examset %}
                                  {% with equipment=exam.generalequipmentmoduleattr_set.get %}
                                  {% with ct_dose_set=exam.ctradiationdose_set.get %}
                                  {% with ct_accumulated=ct_dose_set.ctaccumulateddosedata_set.get %}
                                    <tr>
                                        <td>
                                            <a href="/openrem/ct/{{ exam.id }}/">
                                                {{ equipment.institution_name }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/openrem/ct/{{ exam.id }}/">
                                                <table onclick="window.location='/openrem/ct/{{ exam.id }}/';">
                                                    <tr><td class="nowrap">{{ equipment.manufacturer }}</td></tr>
                                                    <tr><td class="nowrap">{{ equipment.manufacturer_model_name }}</td></tr>
                                                    <tr><td class="nowrap">{{ equipment.unique_equipment_name.display_name }}</td></tr>
                                                </table>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/openrem/ct/{{ exam.id }}/">
                                                {{ exam.study_date|date:"Y-m-d" }} {{ exam.study_time|date:"H:i" }}</td>
                                        </a>
                                        <td>
                                            <a href="/openrem/ct/{{ exam.id }}/">
                                            <table onclick="window.location='/openrem/ct/{{ exam.id }}/';">
                                                <tr><td class="nowrap">{{ exam.study_description }}</td></tr>
                                                <tr><td class="nowrap">{{ exam.procedure_code_meaning }}</td></tr>
                                                <tr><td class="nowrap">{{ exam.requested_procedure_code_meaning }}</td></tr>
                                            {% if not exam.accession_hashed %}
                                                <tr><td class="nowrap">{{ exam.accession_number }}</td></tr>
                                            {% endif %}
                                            </table>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/openrem/ct/{{ exam.id }}/">
                                                {{ ct_accumulated.total_number_of_irradiation_events }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/openrem/ct/{{ exam.id }}/">
                                                {{ ct_accumulated.ct_dose_length_product_total|floatformat:2 }}
                                            </a>
                                        </td>
                                        {% if admin.admingroup %}
                                            <td>
                                                <a href="{% url 'study_delete' exam.id %}">Delete</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                  {% endwith %}{% endwith %}{% endwith %}
                                {% endfor %}
                            </table>

                            {% paginate %}

                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
        <script src="{{ STATIC_URL }}js/advancedSearch.js"></script>
            <script>
                var filterOptionsJSON = {{ json_filter_options|safe }};
                $(document).ready(function() {
                    initializeJSON(filterOptionsJSON, "{{  STATIC_URL|safe }}");
                    addSearchBuilderLine(-1, true);
                })
            </script>

    {% endblock %}


    {% block jsblock %}
        <!-- {% if request.advancedsearch %}-->
            <script src="{{ STATIC_URL }}js/advancedSearch.js"></script>
            <script>
                var staticurl = "{{ STATIC_URL|safe }}";
                var filterOptionsJSON = {{ json_filter_options|safe }};
                $(document).ready(function() {
                    initializeJSON(filterOptionsJSON, staticurl);
                    addSearchBuilderLine(-1, true);
                })
            </script>
            <!--<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>-->
        <!-- {%  endif %} -->
    {% endblock %}
