<table class="table sortable" id="celery{{ celeryTable }}Table">
  <tr>
    <th id="{{ celeryTable }}uuid" onclick="updateSort(this.id, 'user_click', '{{ celeryTable }}');">UUID</th>
    <th id="{{ celeryTable }}task" onclick="updateSort(this.id, 'user_click', '{{ celeryTable }}');">Task</th>
    <th id="{{ celeryTable }}received" onclick="updateSort(this.id, 'user_click', '{{ celeryTable }}');">Received</th>
    <th id="{{ celeryTable }}started" onclick="updateSort(this.id, 'user_click', '{{ celeryTable }}');">Started</th>
    <th id="{{ celeryTable }}state" onclick="updateSort(this.id, 'user_click', '{{ celeryTable }}');">Current state</th>
    <th>Terminate</th>
  </tr>
  {% for task in tasks %}
    <tr>
      <td>{{ task.uuid }}</td>
      <td>{{ task.name }}</td>
      <td sorttable_customkey="{{ task.deltaseconds_received }}">{{ task.received }}</td>
      <td sorttable_customkey="{{ task.deltaseconds_started }}">{{ task.started }}</td>
      <td>{{ task.state }}</td>
      <td>
        {% if task.state == 'STARTED' %}
          <a class="btn btn-danger" href="{% url 'celery_abort' task_id=task.uuid type=task.type %}" role="button">
            Terminate task
          </a>
        {% else %}
          <a class="btn btn-default" disabled="disabled">Terminate task</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>

<script>
    $(document).ready(function () {
        var taskTableRecent = document.getElementById("celery{{ celeryTable }}Table");
        sorttable.makeSortable(taskTableRecent);
        updateSort(sort_info_{{ celeryTable }}.heading, null, '{{ celeryTable }}');
    });
</script>
