{% extends "remapp/base.html" %}

{% block headextras %}
  <script src="{{ STATIC_URL }}js/sorttable.js"></script>
{% endblock %}

{% block confnav %}
  <li class="dropdown active">{% endblock %}

{% block navhelp %}
  <li>
    <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/celery_management.html"
       target="_blank" data-toggle="tooltip" title="Celery management documentation - opens in a new tab">
      Celery management documentation
    </a>
  </li>
{% endblock %}

{% block mainblock %}

  {% if admin.admingroup %}
    <div class="row col-md-offset-2">
      <h3>Celery administration </h3>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <script>
            function updateSort(heading, source, table_ref) {
                if (typeof source === "undefined") {
                    source = null;
                }

                if (table_ref === 'Active') sort_info_Active.heading = heading;
                if (table_ref === 'Recent') sort_info_Recent.heading = heading;
                if (table_ref === 'Older') sort_info_Older.heading = heading;

                if (source === 'user_click') {
                    // It's a user-generated call and the headings already match
                    // so reverse the sorting direction
                    if (table_ref === 'Active') sort_info_Active.direction = sort_info_Active.direction === "ascending" ? "descending" : "ascending";
                    if (table_ref === 'Recent') sort_info_Recent.direction = sort_info_Recent.direction === "ascending" ? "descending" : "ascending";
                    if (table_ref === 'Older') sort_info_Older.direction = sort_info_Older.direction === "ascending" ? "descending" : "ascending";

                    sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                }

                if (table_ref === 'Active') sort_direction = sort_info_Active.direction;
                if (table_ref === 'Recent') sort_direction = sort_info_Recent.direction;
                if (table_ref === 'Older') sort_direction = sort_info_Older.direction;
                if (sort_direction === "ascending") {
                    sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                } else {
                    sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                    sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                }
            }

            sort_info_Active = {
                heading: "Activeuuid",
                direction: "ascending"
            };
            sort_info_Recent = {
                heading: "Recentuuid",
                direction: "ascending"
            };
            sort_info_Older = {
                heading: "Olderuuid",
                direction: "ascending"
            };

            $(document).ready(
                function tasks_update_active(json) {
                    $.ajax({
                        url: "{% url 'celery_tasks' stage='active' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        type: "POST",
                        success: function (data) {
                            $('#activetasks').html(data);
                            setTimeout(function () {
                                tasks_update_active();
                            }, 2000);
                        }
                    })
                }
            );
            $(document).ready(
                function tasks_update_recent(json) {
                    $.ajax({
                        url: "{% url 'celery_tasks' stage='recent' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        type: "POST",
                        success: function (data) {
                            $('#recenttasks').html(data);
                            setTimeout(function () {
                                tasks_update_recent();
                            }, 5000);
                        }
                    })
                }
            );
            $(document).ready(
                function tasks_update_recent(json) {
                    $.ajax({
                        url: "{% url 'celery_tasks' stage='older' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        type: "POST",
                        success: function (data) {
                            $('#oldertasks').html(data);
                            setTimeout(function () {
                                tasks_update_recent();
                            }, 11000);
                        }
                    })
                }
            );
        </script>
        <p>
          Celery is the task manager that runs background tasks. A table of current active tasks can be found below
          along with
          tasks that have finished. This interface relies on Flower being installed and running, so look at the docs to
          find
          out more: link to docs.
        </p>
        <p>
          If Flower was started after a task was started then that task will not appear in the table until it either
          finishes
          or is aborted somewhere else.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="activeTasksHeading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#activeTasks" aria-expanded="true"
                   aria-controls="activeTasks">
                  Active tasks
                </a>
              </h4>
            </div>
            <div id="activeTasks" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="activeTasksHeading">
              <div class="panel-body">

                <span id="activetasks"></span>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="recentTasksHeading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#recentTasks" aria-expanded="true"
                   aria-controls="recentTasks">
                  Recent tasks
                </a>
              </h4>
            </div>
            <div id="recentTasks" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="recentTasksHeading">
              <div class="panel-body">

                <span id="recenttasks"></span>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="olderTasksHeading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#olderTasks" aria-expanded="true"
                   aria-controls="olderTasks">
                  Older tasks
                </a>
              </h4>
            </div>
            <div id="olderTasks" class="panel-collapse collapse" role="tabpanel" aria-labelledby="olderTasksHeading">
              <div class="panel-body">

                <span id="oldertasks"></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  {% else %}

    <div class="row col-md-offset-2">
      <h3>Celery administration </h3>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>
          This function can only be accessed if you are logged in to OpenREM with admin
          permissions.
        </p>
      </div>
    </div>

  {% endif %}

{% endblock %}
