{% extends "remapp/filteredbase.html" %}

{% block navct%}<li class="active">{% endblock %}

{% block toprow %}

    <p>
        There are {{ filter.qs.count }} studies in this list.
    </p>
{% endblock %}

<!-- As the form extends over multiple "blocks" the order is important. One should first override "col1" and "col2"
     afterwards.
     It doesn't feel really comfortable, but I don't see any other solution.
-->
{% block mainblock %}

    <form action="" method="get" class="form-horizontal" role="form">

        <div class="row">

            <div class="col-md-9">

                {% if request.user.userprofile.plotCharts %}

                    <script src="{{ STATIC_URL }}js/django_reverse/reverse.js"></script>
                    <script src="{{ STATIC_URL }}js/charts/chartFullScreen.js"></script>
                    <script src="{{ STATIC_URL }}js/charts/chartSetExportSize.js"></script>
                    <script src="{{ STATIC_URL }}js/chroma.min.js"></script>
                    <script src="{{ STATIC_URL }}js/charts/chartUpdateData.js"></script>
        <script src="{{ STATIC_URL }}js/django_reverse/reverse.js"></script>

                    <div class="ajax-progress"><img src="{{ STATIC_URL }}img/ajax-loader.gif" alt='Preparing charts...'></div>

        <!-- JavaScript to enable Plotly charts -->
        <script src="{{ STATIC_URL }}js/charts/plotly-1.58.2.min.js"></script>
        <!-- End of JavaScript to enable Plotly charts -->

        <!-- JavaScript Plotly chart resizing code. -->
        <script src="{{ STATIC_URL }}js/charts/chartFullScreen.js"></script>
        <!-- End of JavaScript Plotly chart resizing code. -->

        <!-- JavaScript chart AJAX code. -->
        <script src="{{ STATIC_URL }}js/charts/ctChartAjax.js"></script>
        <!-- End of JavaScript chart AJAX code. -->

        {% for chart in required_charts %}
            <div class="panel-group" id="{{ chart.var_name }}accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#{{ chart.var_name }}accordion" href="#collapse{{ chart.var_name }}" onclick="setTimeout(function() {triggerResizeEvent();}, 0);">
                                {{ chart.title }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ chart.var_name }}" class="panel-collapse collapse">
                        <div id="{{ chart.var_name }}ChartParentDiv" class="panel-body">
                            <div id="{{ chart.var_name }}ChartDiv"></div>
                            <a onclick="enterFullScreenPlotly('{{ chart.var_name }}ChartDiv', '{{ chart.var_name }}ChartParentDiv');"
                               class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
