{% extends "remapp/base.html" %}

{% block headextras %}
  <script src="{{ STATIC_URL }}js/sorttable.js"></script>
  <script src="{{ STATIC_URL }}js/django_reverse/reverse.js"></script>
  <script src="{{ STATIC_URL }}js/dicom.js"></script>
  <script>
        $(document).ready(function() {
            json = {"queryID": "{{query.query_id}}"};
            queryProgress(json);
        });
  </script>
{% endblock %}

{% block mainblock %} 


    <div style="margin-left: 30%; margin-right: 30%;">
        <div class="row">
        <div id="qr-status"></div>
        <div id="move-button"></div>
        </div>
        <div class="row">
        <div id="move-status"></div>
        </div>
        <div class="row">
        <div id="subops"></div>
        </div>
    </div>


{% endblock %}