<table class="table table-bordered table-hover row-clickable sortable">
  <tr>
    <th>Modality</th>
    <th>Number of studies</th>
  </tr>
  <tr class="clickable-row">
    <td><a href="{% url 'review_failed_imports' 'CT' %}" style="text-decoration: none">CT</a></td>
    <td><a href="{% url 'review_failed_imports' 'CT' %}" style="text-decoration: none">{{ failed.broken_ct }}</a></td>
  </tr>
  <tr class="row-clickable">
    <td><a href="{% url 'review_failed_imports' 'RF' %}" style="text-decoration: none">Fluoro</a></td>
    <td><a href="{% url 'review_failed_imports' 'RF' %}" style="text-decoration: none">{{ failed.broken_rf }}</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'review_failed_imports' 'MG' %}" style="text-decoration: none">Mammography</a></td>
    <td><a href="{% url 'review_failed_imports' 'MG' %}" style="text-decoration: none">{{ failed.broken_mg }}</a></td>
  </tr>
  <tr class="row-clickable">
    <td><a href="{% url 'review_failed_imports' 'DX' %}" style="text-decoration: none">Radiography</a></td>
    <td><a href="{% url 'review_failed_imports' 'DX' %}" style="text-decoration: none">{{ failed.broken_dx }}</a></td>
  </tr>
  <tr class="row-clickable">
    <td><a href="{% url 'review_failed_imports' 'NM' %}" style="text-decoration: none">Nuclear Medicine</a></td>
    <td><a href="{% url 'review_failed_imports' 'NM' %}" style="text-decoration: none">{{ failed.broken_nm }}</a></td>
  </tr>
</table>

