{% extends "remapp/base.html" %}
{% load i18n %}

{% block headextras %}
    <!-- Bootstrap-datepicker CSS -->
    <!-- Bootstrap-datepicker JavaScript
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker3.css">

    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/charts/chartCommonFunctions.js"></script>
    <script src="{{ STATIC_URL }}js/sorttable.js"></script>
    <script src="{{ STATIC_URL }}js/mod_filters.js"></script>

    <!-- Internet Explorer (up to version 8) doesn't support array indexOf. The script
    below adds the functionality if it is missing. -->
    <script>
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (obj, start) {
                for (var i = (start || 0), j = this.length; i < j; i++) {
                    if (this[i] === obj) {
                        return i;
                    }
                }
                return -1;
            }
        }
    </script>

    {% block headscript %}
    {% endblock %}
{% endblock %}


{% block mainblock %}
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-*">
                {% block plotdata %}
                {% endblock %}

                {% block paginate_top %}
                    {% if study_list.has_other_pages %}
                        {% load proper_paginate %}
                        {% load url_replace %}
                        <ul class="pagination">
                            {% if study_list.number == 1 %}
                                <li class="disabled"><span>⇤</span></li>
                            {% else %}
                                <li><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
                            {% endif %}
                            {% if study_list.has_previous %}
                                <li><a class="page-link"
                                    href="?{% url_replace request 'page' study_list.previous_page_number %}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in study_list.paginator|proper_paginate:study_list.number %}
                                {% if study_list.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if study_list.has_next %}
                                <li><a class="page-link"
                                    href="?{% url_replace request 'page' study_list.next_page_number %}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                            {% if study_list.number == study_list.paginator.num_pages %}
                                <li class="disabled"><span>⇥</span></li>
                            {% else %}
                                <li><a class="page-link"
                                    href="?{% url_replace request 'page' study_list.paginator.num_pages %}">⇥</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                {% endblock %}


                <div class="modal fade" id="newFilterModal" tabindex="-1" role="dialog" aria-labelledby="newFilterModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="newFilterModalLabel">{% trans "New exam filter" %}</h4>
                            </div>
                            <div class="modal-body">
                                <form id="newExamFilter" class="form-horizontal" role="form">
                                    <div class="panel-body">
                                        <em>Date format yyyy-mm-dd</em>
                                        {% for field in filter.form.visible_fields %}
                                            {% if field.name != "o" %}
                                                <div class="row form-group">
                                                    <div class="col-xs-4">
                                                        {{ field.label_tag }}
                                                    </div>
                                                    {% if not field.field.widget.attrs.static_lookup %}
                                                        <div class="col-xs-1">
                                                            <button type="button" class="btn btn-default btn-sm" id="{{field.name}}_notToggle"
                                                            data-toggle="button" aria-pressed="false" autocomplete="off">
                                                                {% trans "not" %}
                                                            </button>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <select id="{{field.name}}_lookupType" class="form-control input-sm">
                                                                <option value="icontains">{% trans "contains" %}</option>
                                                                <option value="iexact">{% trans "is" %}</option>
                                                                <option value="iregex">{% trans "regex" %}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-4">
                                                    {% else %}
                                                        <div class="col-xs-offset-1 col-xs-7 text-center">
                                                    {% endif %}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% for field in filter.form.hidden_fields %}
                                            <div style="display:none">{{ field }}</div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Discard changes" %}</button>
                                <button type="button" class="btn btn-primary" id="saveFilter">{% trans "Save exam filter" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="panel panel-info" style="display: block;">
                        <div class="panel-heading" role="tab" id="headingSearch">
                            <table style="width: 100%;">
                                <tr>
                                    <td>
                                        <h3 class="panel-title">
                                            <span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                                                {% trans "Filter" %}
                                            </span>
                                        </h3>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="margin-left: 1em; margin-right: 1em;">
                            <div id="collapseSearch" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSearch">
                                <container id="advFilters" class="container"></container>
                                <div>    
                                    <input type="hidden" id="filterQuery" name="filterQuery" value="" />
                                </div>
                                <div class="panel panel-info" style="display: block;">
                                    <div class="panel-heading" role="tab" id="headingFilterLibrary">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td>
                                                    <h3 class="panel-title">
                                                        <span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapseFilterLibrary" aria-expanded="false" aria-controls="collapseFilterLibrary">
                                                            {% trans "Filter library" %}
                                                        </span>
                                                    </h3>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="collapseFilterLibrary" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFilterLibrary">
                                        <div class="panel-body">
                                            <input type="hidden" value="{{ csrf_token }}" id="postToken" />
                                            <div id="libraryAlerts"></div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="no-decoration" data-toggle="collapse" data-target="#savePatternPanel">{% trans "Save current filter" %}</a>
                                                    </h4>
                                                </div>
                    
                                                <div id="savePatternPanel" class="panel-collapse collapse in">
                                                    <div class="panel-body form-inline">
                                                        <input type="text" maxlength="64" style="min-width: 50%" class="form-control" id="newFilterLibraryName" placeholder="Name">
                                                        <a class="btn btn-default" onclick="saveToLibrary('userPatterns')">{% trans "Save" %}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default" id="userPatterns" {% if userLibraries|length <= 0 %} hidden {% endif %}>
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="no-decoration" data-toggle="collapse" data-target="#userPatternsPanel">{% trans "Your filters" %}</a>
                                                    </h4>
                                                </div>
                                                <div id="userPatternsPanel" class="panel-collapse collapse in">
                                                    <div class="panel-body form-inline">
                                                        <select style="min-width: 50%" class="form-control" id="userPatternsSelect">
                                                            {% for field in userLibraries %}
                                                                <option value="{{ field.id }}">{{ field.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <a class="btn btn-default" onclick="loadFromLibrary('userPatterns')">{% trans "Load" %}</a>
                                                        <a class="btn btn-danger" onclick="deleteFromLibrary('userPatterns')">{% trans "Delete" %}</a>
                                                        {% if admin.admingroup %}
                                                            <a class="btn btn-info" onclick="toggleSharedPattern('userPatterns', 'sharedPatterns')">{% trans "Make available for all users" %}</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default" id="sharedPatterns" {% if sharedLibraries|length <= 0 %} hidden {% endif %}>
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="no-decoration" data-toggle="collapse" data-target="#sharedPatternsPanel">{% trans "Filters shared with all users" %}</a>
                                                    </h4>
                                                </div>
                                                <div id="sharedPatternsPanel" class="panel-collapse collapse in">
                                                    <div class="panel-body form-inline">
                                                        <select style="min-width: 50%" class="form-control" id="sharedPatternsSelect">
                                                            {% for field in sharedLibraries %}
                                                                <option value="{{ field.id }}">{{ field.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <a class="btn btn-default" onclick="loadFromLibrary('sharedPatterns')">{% trans "Load" %}</a>
                                                        {% if admin.admingroup %}
                                                            <a class="btn btn-danger" onclick="deleteFromLibrary('sharedPatterns')">{% trans "Delete" %}</a>
                                                            <a class="btn btn-warning" onclick="toggleSharedPattern('sharedPatterns', 'userPatterns')">{% trans "Remove from all users" %}</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info" style="display: block;">
                        <div class="panel-heading" role="tab" id="headingChartOptions">
                            <table style="width: 100%;">
                                <tr>
                                    <td>
                                        <h3 class="panel-title">
                                            <span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseChartOptions" aria-expanded="false" aria-controls="collapseChartOptions">
                                                {% trans "Chart options" %}
                                            </span>
                                        </h3>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="collapseChartOptions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingChartOptions">
                            <div class="panel-body">
                                {% csrf_token %}
                                {% regroup chartOptionsForm by field.group as field_groups %}
                
                                {% for field_group in field_groups %}
                
                                    {% if field_group.grouper == 'PlotCharts' %}
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <label style="font-weight: normal" for="{{ field_group.list.0.auto_id }}">{{ field_group.list.0.label }}</label>&nbsp;{{ field_group.list.0 }}
                                                </h4>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="panel panel-default">
                
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="no-decoration" data-toggle="collapse" data-target="#{{ field_group.grouper|cut:" " }}">{{ field_group.grouper }}</a>
                                                </h4>
                                            </div>
                
                                            <div id="{{ field_group.grouper|cut:" " }}" class="panel-collapse collapse in">
                                                <div class="panel-body">
                
                                                    <table class="table table-condensed">
                                                    {% for field in field_group.list %}
                                                        <tr>
                                                        {% if field.field.widget.attrs.class == 'CheckboxSelectMultiple' %}
                                                            <td class="shaded_top_bottom_border"><label for="{{ field.auto_id }}">{{ field.label }}</label></td>
                                                            <td class="shaded_top_bottom_border">{{ field }}</td>
                                                        {% elif field.label == 'Acquisition frequency' or field.label == 'Standard study frequency' or field.label == 'Requested procedure frequency' or field.label == 'Time period' %}
                                                            <td class="top_border"><label for="{{ field.auto_id }}">{{ field.label }}</label></td>
                                                            <td class="top_border">{{ field }}</td>
                                                        {% else %}
                                                            <td><label for="{{ field.auto_id }}">{{ field.label }}</label></td>
                                                            <td>{{ field }}</td>
                                                        {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                    </table>
                
                                                </div>
                                            </div>
                
                                        </div>
                                    {% endif %}
                
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info" style="display: block;">
                        <div class="panel-heading" role="tab" id="headingTableOptions">
                            <table style="width: 100%;">
                                <tr>
                                    <td>
                                        <h3 class="panel-title">
                                            <span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseTableOptions" aria-expanded="false" aria-controls="collapseTableOptions">
                                                {% trans "Table options" %}
                                            </span>
                                        </h3>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="collapseTableOptions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTableOptions">
                            <div class="panel-body">
                                <table class="table table-condensed">
                                    {% for field in filter.form.visible_fields %}
                                        {% if field.name == "o" %}
                                            <tr>
                                                <th>{{ field.label_tag }}</th>
                                                <td>{{ field }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    {{ itemsPerPageForm }}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 1em;">
                        <input class="btn btn-default" id="submitQuery" name="submit" type="submit" />
                    </div>
                </form>

                <script src="{{ STATIC_URL }}js/datepicker.js"></script>
                <script src="{{ STATIC_URL }}js/formatDate.js"></script>

                {% block col1 %}
                {% endblock %}
                {% block paginate_bottom %}
                    {% if study_list.has_other_pages %}
                        <ul class="pagination">
                            {% if study_list.number == 1 %}
                                <li class="disabled"><span>⇤</span></li>
                            {% else %}
                                <li><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
                            {% endif %}
                            {% if study_list.has_previous %}
                                <li><a class="page-link"
                                    href="?{% url_replace request 'page' study_list.previous_page_number %}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in study_list.paginator|proper_paginate:study_list.number %}
                                {% if study_list.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if study_list.has_next %}
                                <li><a class="page-link"
                                    href="?{% url_replace request 'page' study_list.next_page_number %}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                            {% if study_list.number == study_list.paginator.num_pages %}
                                <li class="disabled"><span>⇥</span></li>
                            {% else %}
                                <li><a class="page-link"
                                    href="?{% url_replace request 'page' study_list.paginator.num_pages %}">⇥</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-*">            
                {% block col2 %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


{% block jsblock %}
{% endblock %}

{% block navhelp %}
    <li>
        <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/i_navigate.html" target="_blank"
           data-toggle="tooltip" title="Web interface documentation - opens in a new tab">
            Web interface documentation
        </a>
    </li>
    <li>
        <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/charts.html" target="_blank" data-toggle="tooltip"
           title="Charts documentation - opens in a new tab">
            Charts documentation
        </a>
    </li>
    <li>
        <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/charts.html#chart-options" target="_blank"
           data-toggle="tooltip" title="Chart options documentation - opens in a new tab">
            Chart options documentation
        </a>
    </li>
    <li>
        <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/i_exporting.html" target="_blank"
           data-toggle="tooltip" title="Study export documentation - opens in a new tab">
            Study export documentation
        </a>
    </li>
    {% block filterednavhelp %}
    {% endblock %}
{% endblock %}
