{% load humanize %}
{% load i18n %}

{%  with modality|add:'_summary_list_filter' as url_name %}
  <table class="table table-bordered table-hover row-clickable sortable" id="summary_table_{{ modality }}">
    <tr>
      <th>{% trans "System name" %}</th>
      <th>{% trans "Total number of studies" %}</th>
      <th>{% trans "Latest study" %}</th>
      {% if home_config.display_workload_stats %}
        <th>{% blocktrans with home_config.day_delta_a as day_delta trimmed %}
            Number in last {{ day_delta }} days{% endblocktrans %}</th>
        <th>{% blocktrans with home_config.day_delta_b as day_delta trimmed %}
            Number in last {{ day_delta }} days{% endblocktrans %}</th>
      {% endif %}
    </tr>
    {% for details in test_data %}
      <tr>
        <td style="width:25%">
          <a href="{% url url_name %}?generalequipmentmoduleattr__unique_equipment_name__display_name={{ details.generalequipmentmoduleattr__unique_equipment_name__display_name }}&o=-study_date">
            {{ details.generalequipmentmoduleattr__unique_equipment_name__display_name }}
          </a>
        </td>
        <td style="width:25%">
          <a href="{% url url_name %}?generalequipmentmoduleattr__unique_equipment_name__display_name={{ details.generalequipmentmoduleattr__unique_equipment_name__display_name }}&o=-study_date">
            {{ details.num_studies }}
          </a>
        </td>
        <td style="width:25%" sorttable_customkey="{{ details.timedelta }}">
          <a href="{% url url_name %}?generalequipmentmoduleattr__unique_equipment_name__display_name={{ details.generalequipmentmoduleattr__unique_equipment_name__display_name }}&o=-study_date">
            {{ details.latest_entry_date_time|naturaltime }}
          </a>
        </td>
        {% if home_config.display_workload_stats %}
          <td style="width:12.5%">
            <a href="{% url url_name %}?generalequipmentmoduleattr__unique_equipment_name__display_name={{ details.generalequipmentmoduleattr__unique_equipment_name__display_name }}&o=-study_date&study_date__gt={{ home_config.date_a }}" id="{{ modality }}{{ details.generalequipmentmoduleattr__unique_equipment_name__display_name|cut:" " }}_a"></a>
          </td>
          <td style="width:12.5%">
            <a href="{% url url_name %}?generalequipmentmoduleattr__unique_equipment_name__display_name={{ details.generalequipmentmoduleattr__unique_equipment_name__display_name }}&o=-study_date&study_date__gt={{ home_config.date_b }}" id="{{ modality }}{{ details.generalequipmentmoduleattr__unique_equipment_name__display_name|cut:" " }}_b"></a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}


  </table>
{% endwith %}
