{% extends "remapp/base.html" %}

{% block navnm%}<li class="active">{% endblock %}


{% block mainblock %}
<h1>Detail list</h1>
{% with patientstudy=generalstudymoduleattr.patientstudymoduleattr_set.get %}
{% with equipment=generalstudymoduleattr.generalequipmentmoduleattr_set.get %}
  <ul>
    <li>
        Accession number:
        {% if not generalstudymoduleattr.accession_hashed %}
            {{ generalstudymoduleattr.accession_number }}
        {% else %}
            <em>hidden</em>
        {% endif %}
    </li>
    <li>Study date: {{ generalstudymoduleattr.study_date }}</li>
    <li>Study time: {{ generalstudymoduleattr.study_time|date:"H:i" }}</li>
    <li>Study description: {{ generalstudymoduleattr.study_description }}</li>
    <li>Procedure: {{ generalstudymoduleattr.procedure_code_meaning }}</li>
    <li>Requested procedure: {{ generalstudymoduleattr.requested_procedure_code_meaning }}</li>
    <li>Patient age: {{ patientstudy.patient_age_decimal|floatformat:1 }} years</li>
    <li>Patient height and weight: {{ patientstudy.patient_size|floatformat:2 }} m, {{ patientstudy.patient_weight|floatformat:1 }} kg</li>
    <li>Hospital: {{ equipment.institution_name }}</li>
    <li>
        Scanner:
        {{ equipment.manufacturer }} |
        {{ equipment.manufacturer_model_name }} |
        {{ equipment.station_name }}
    </li>
    <li>Display name: {{ equipment.unique_equipment_name.display_name }}</li>
    <li>Study UID: {{ generalstudymoduleattr.study_instance_uid }}</li>
    <li>Comment: {{ generalstudymoduleattr.ctradiationdose_set.get.comment }} </li>
    <li>Performing physician(s): {{ generalstudymoduleattr.performing_physician_name }}</li>
    <li>Operator(s): {{ generalstudymoduleattr.operator_name }}</li>
    <li>Test patient indicators? {{ generalstudymoduleattr.patientmoduleattr_set.get.not_patient_indicator }}</li>
  </ul>

  {% with radiopharm=generalstudymoduleattr.radiopharmaceuticalradiationdose_set.get %}
  {% with radioadmin=radiopharm.radiopharmaceuticaladministrationeventdata_set.get %}
  <div class="row">
    <div class="col-md-3">
      <table class="table table-condensed table-bordered small" aria-describedby="Radiopharmaceutical details about this study">
        <tr>
            <th scope="col">Radiopharmaceutical</th>
            <td>
                {% if radioadmin.radiopharmaceutical_agent %}
                    {{radioadmin.radiopharmaceutical_agent.code_meaning}}
                {% else %} 
                    {{radioadmin.radiopharmaceutical_agent_string}}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="col">Radionuclide</th>
            <td>{{radioadmin.radionuclide.code_meaning}}</td>
        </tr>
        <tr>
            <th scope="col">Radionuclide half life</th>
            <td>{{radioadmin.radionuclide_half_life|floatformat:1}} s</td>
        </tr>
        <tr>
            <th scope="col">Administered Activity</th>
            <td>{{radioadmin.administered_activity|floatformat:2}}</td>
        </tr>
        {% if radioadmin.effective_dose %} 
        <tr>
            <th scope="col">Effective Dose</th>
            <td>{{radioadmin.effective_dose|floatformat:2}}</td>
        </tr>
        {% endif %}
        {% if associated_ct is not None %}
        <tr>
            <th scope="col">Associated CT study</th>
            <td>
                <a href="{% url 'ct_detail_view' pk=associated_ct.pk %}">
                    {% with accum_dose=associated_ct.ctradiationdose_set.get.ctaccumulateddosedata_set.get %}
                    CT study with {{accum_dose.total_number_of_irradiation_events}} events
                    {% endwith %}
                </a>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th scope="col">Associated Procedure</th>
            <td>{{radiopharm.associated_procedure.code_meaning}}</td>
        </tr>
        <tr>
            <th scope="col">Radiopharmaceutical start time</th>
            <td>{{radioadmin.radiopharmaceutical_start_datetime}}</td>
        </tr>
        <tr>
            <th scope="col">Radiopharmaceutical stop time</th>
            <td>{{radioadmin.radiopharmaceutical_stop_datetime}}</td>
        </tr>
        <tr>
            <th scope="col">Route of Administration</th>
            <td>{{radioadmin.route_of_administration.code_meaning}}</td>
        </tr>
        <tr>
            <th scope="col">Route of Administation Laterality</th>
            <td>{{radioadmin.laterality}}</td>
        </tr>
        {% for person_participant in radioadmin.personparticipant_set.all %} 
        <tr>
            <th scope="col">Person participant</th>
            <td>
                <table class="table custom_table_without_top_borders" aria-describedby="Table of persons involved">
                    <tr>
                        <th>Name</th>
                        <td>{{person_participant.person_name}}</td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td>{{person_participant.person_role_in_procedure_cid.code_meaning}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th scope="col">Comment</th>
            <td>{{radiopharm.comment}}</td>
        </tr>
      </table>
    </div>
  </div>
 
  {% if radioadmin.organdose_set.count > 0 %}
  <h3>Organ doses</h3>
  <table class="table table-striped table-bordered small" aria-describedby="Organ Doses">
      <tr>
        <th scope="col">Finding Site</th>
        <th scope="col">Laterality</th>
        <th scope="col">Organ Dose (mGy)</th>
        <th scope="col">Mass (g)</th>
        <th scope="col">Measurement Method</th>
        <th scope="col">Reference Authority</th>
      </tr>
    {% for organ_dose in radioadmin.organdose_set.all %} 
        <tr>
            <td>{{organ_dose.finding_site.code_meaning}}</td>
            <td>{{organ_dose.laterality.code_meaning}}</td>
            <td>{{organ_dose.organ_dose|floatformat:2}}</td>
            <td>{{organ_dose.mass}}</td>
            <td>{{organ_dose.measurement_method}}</td>
            <td>
                {% if organ_dose.reference_authority_code is not None %} 
                    {{organ_dose.reference_authority_code.code_meaning}}
                {% else %} 
                    {{organ_dose.reference_authority_text}}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
  {% endif %}
  </table>

  {% if radiopharm.petseries_set.count > 0 %}
  <h3>Series information</h3>
  <table class="table table-striped table-bordered small" aria-describedby="PET Series">
    <tr>
        <th scope="col">Series date</th>
        <th scope="col">Number of Slices</th>
        <th scope="col">Reconstruction Method</th>
        <th scope="col">Coincidence Window width</th>
        <th scope="col">Energy Window Lower/Upper Limit</th>
        <th scope="col">Scan Progression</th>
        <th scope="col">Number of RR intervals</th>
        <th scope="col">Number of time slots</th>
        <th scope="col">Number of time slices</th>
    </tr>
    {% for petseries in radiopharm.petseries_set.all %}
        <tr>
            <td>{{petseries.series_datetime}}</td>
            <td>{{petseries.number_of_slices|floatformat:0}}</td>
            <td>{{petseries.reconstruction_method}}</td>
            <td>{{petseries.coincidence_window_width|floatformat:2}}</td>
            <td>{{petseries.energy_window_lower_limit|floatformat:2}} / {{petseries.energy_window_upper_limit|floatformat:2}}</td>
            <td>{{petseries.scan_progression_direction}}</td>
            <td>{{petseries.number_of_rr_intervals|floatformat:0}}</td>
            <td>{{petseries.number_of_time_slots|floatformat:0}}</td>
            <td>{{petseries.number_of_time_slices|floatformat:0}}</td>
        </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% with patcharac=radiopharm.radiopharmaceuticaladministrationpatientcharacteristics_set.first %}
  {% if patcharac is not None %}
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered small" aria-describedby="Radiopharmaceutical details about this study">
        {% if patcharac.patientstate_set.count > 0 %}
        <tr>
            <th scope="col">Patient state</th>
            <td>
                <table>
                    {% for patient_state in patcharac.patientstate_set.all %} 
                    <tr><td>{{patient_state.patient_state.code_meaning}}</td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
        {% if patcharac.body_surface_area %}
        <tr>
            <th scope="col">Body Surface Area</th>
            <td>{{patcharac.body_surface_area|floatformat:3}} m<sup>2</sup></td>
        </tr>
        {% endif %}
        {% if patcharac.body_surface_area_formula %}
        <tr>
            <th scope="col">Body Surface Area Formula</th>
            <td>{{patcharac.body_surface_area_formula.code_meaning}}</td>
        </tr>
        {% endif %}
        {% if patcharac.body_mass_index %}
        <tr>
            <th scope="col">Body Mass Index</th>
            <td>{{patcharac.body_mass_index|floatformat:2}} kg/m<sup>2</sup></td>
        </tr>
        {% endif %}
        {% if patcharac.equation %}
        <tr>
            <th scope="col">Body Mass Index Equation</th>
            <td>{{patcharac.equation.code_meaning}}</td>
        </tr>
        {% endif %}
        {% if patcharac.glucose %}
        <tr>
            <th scope="col">Glucose</th>
            <td>{{patcharac.glucose|floatformat:2}} mmol/l</td>
        </tr>
        {% endif %}
        {% if patcharac.fasting_duration %}
        <tr>
            <th scope="col">Fasting Duration</th>
            <td>{{patcharac.fasting_duration|floatformat:2}} hours</td>
        </tr>
        {% endif %}
        {% if patcharac.hydration_volume %}
        <tr>
            <th scope="col">Hydration Volume</th>
            <td>{{patcharac.hydration_volume|floatformat:2}} ml</td>
        </tr>
        {% endif %}
        {% if patcharac.recent_physical_activity %}
        <tr>
            <th scope="col">Recent Physical Activity</th>
            <td>{{patcharac.recent_physical_activity}}</td>
        </tr>
        {% endif %}
        {% if patcharac.serum_creatinine %}
        <tr>
            <th scope="col">Serum Creatinine</th>
            <td>{{patcharac.serum_creatinine|floatformat:2}} mg/dl</td>
        </tr>
        {% endif %}
        {% for glomerular in patcharac.glomerularfiltrationrate_set.all %}
        <tr>
            <th scope="col">Glomerular Filtration Rate</th>
            <td>
                <table class="table custom_table_without_top_borders">
                    <tr><td>{{glomerular.glomerular_filtration_rate|floatformat:2}} ml/min/1.73m<sup>2</sup></td></tr>
                    <tr>
                        <th>Measurement Method</th>
                        <td>{{glomerular.measurement_method.code_meaning}}</td>
                    </tr>
                    <tr>
                        <th>Equivalent meaning of concept name</th>
                        <td>{{glomerular.equivalent_meaning_of_concept_name.code_meaning}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
  {% endwith %}

  {% endwith %}
  {% endwith %}
{% if is_paginated %}
<p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}" title="View older posts">Older</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}" title="View newer posts">Newer</a>
    {% endif %}
</p>
{% endif %}
{% endwith %}{% endwith %}
{% endblock %}
