{% extends "remapp/base.html" %}

{% block navnm%}<li class="active">{% endblock %}


{% block mainblock %}
<h1>Detail list of events</h1>
{% with patientstudy=generalstudymoduleattr.patientstudymoduleattr_set.get %}
{% with equipment=generalstudymoduleattr.generalequipmentmoduleattr_set.get %}
  <ul>
    <li>
        Accession number:
        {% if not generalstudymoduleattr.accession_hashed %}
            {{ generalstudymoduleattr.accession_number }}
        {% else %}
            <i>hidden</i>
        {% endif %}
    </li>
    <li>Study date: {{ generalstudymoduleattr.study_date }}</li>
    <li>Study time: {{ generalstudymoduleattr.study_time|date:"H:i" }}</li>
    <li>Study description: {{ generalstudymoduleattr.study_description }}</li>
    <li>Procedure: {{ generalstudymoduleattr.procedure_code_meaning }}</li>
    <li>Requested procedure: {{ generalstudymoduleattr.requested_procedure_code_meaning }}</li>
    <li>Patient age: {{ patientstudy.patient_age_decimal|floatformat:1 }} years</li>
    <li>Patient height and weight: {{ patientstudy.patient_size|floatformat:2 }} m, {{ patientstudy.patient_weight|floatformat:1 }} kg</li>
    <li>Hospital: {{ equipment.institution_name }}</li>
    <li>
        Scanner:
        {{ equipment.manufacturer }} |
        {{ equipment.manufacturer_model_name }} |
        {{ equipment.station_name }}
    </li>
    <li>Display name: {{ equipment.unique_equipment_name.display_name }}</li>
    <li>Study UID: {{ generalstudymoduleattr.study_instance_uid }}</li>
    <li>Comment: {{ generalstudymoduleattr.ctradiationdose_set.get.comment }} </li>
    <li>Performing physician(s): {{ generalstudymoduleattr.performing_physician_name }}</li>
    <li>Operator(s): {{ generalstudymoduleattr.operator_name }}</li>
    <li>Test patient indicators? {{ generalstudymoduleattr.patientmoduleattr_set.get.not_patient_indicator }}</li>
  </ul>

{% if is_paginated %}
<p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}" title="View older posts">Older</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}" title="View newer posts">Newer</a>
    {% endif %}
</p>
{% endif %}
{% endwith %}{% endwith %}
{% endblock %}
