{% load humanize %}

<td class="shaded_top_bottom_border">
    <ul id={{ field.auto_id }} class='CheckboxSelectMultiple'>
    {% for choice in field.field.widget.choices %}
        <li>
            <label for="{{ field.auto_id }}_{{ forloop.counter0 }}">
                <input
                        type="checkbox" class="CheckboxSelectMultiple"
                        name="{{ field.name }}" value="{{ choice.0 }}"
                        id="{{ field.auto_id }}_{{ forloop.counter0 }}"
                        {% if chartOptionsForm.cleaned_data %}
                            {% if choice.0 in chartOptionsForm.cleaned_data.plotAverageChoice %}
                                checked
                            {% endif %}
                        {% else %}
                            {% if choice.0 in chartOptionsForm.data.plotAverageChoice %}
                                checked
                            {% endif %}
                        {% endif %}
                >
                {% if choice.0 == 'percentile' %}
                    {{ request.user.userprofile.plotPercentileVal|ordinal }} {{ choice.0 }}
                {% else %}
                    {{ choice.1 }}
                {% endif %}
            </label>
        </li>
    {% endfor %}
    </ul>
</td>
