<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Summary data fields migration</h3>
        </div>
        <div class="panel-body">
            <p>
                {% if not_admin %}
                    You need to be logged in as an admin user to view progress of the migration.
                {% else %}
                    <p>
                        Upgrading to OpenREM release x requires a data migration. Please start the migration by
                        <a href="{% url 'populate_summary' %}">clicking here</a>
                    </p>
                    <p>
                        If you have already started the migration and are still seeing this message, make sure Celery
                        and RabbitMQ are running on the <a href="{% url 'celery_admin' %}">Tasks admin page</a>.
                    </p>
                {% endif %}
            </p>
        </div>
    </div>
</div>


