{% extends "remapp/base.html" %}

{% block headextras %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/ie.css" /><![endif]-->
    <style>
        .selector h2 {
            font-size: 1.25em;
        }
    </style>
{% endblock %}

{% block navhelp %}
        <li>
            <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/"
               target="_blank" data-toggle="tooltip"
               title="OpenREM documentation - opens in a new tab">
                OpenREM documentation
            </a>
        </li>
{% endblock %}

{% block confnav %}<li class="dropdown active">{% endblock %}

{% block mainblock %}

    <div class="row col-sm-offset-1">
        <h1>Create or modify a standard name for {{ form.modality.value }} systems</h1>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Enter the
                    {% if form.modality.value == "CT" %}CT
                    {% elif form.modality.value == "RF" %}fluoroscopy
                    {% elif form.modality.value == "MG" %}mammography
                    {% elif form.modality.value == "DX" %}radiography
                    {% endif %}
                    standard name and select the required options.
                </div>

                {% if admin.admingroup %}
                <div class="panel-body">
                    <p>Any study description, requested procedure, procedure or acquisition protocol name already
                       present in another standard name mapping are excluded from the options on this form.</p>
                    <div id="frame">
                        <form action="" method="post" id="standard_name_form">
                            <div id="sk_body">
                                <fieldset>
                                    <form>
                                        {% csrf_token %}
                                        <table class="table">
                                            {{ form.media }}
                                            {{ form.as_table }}
                                            <script type="text/javascript" src="{% url 'jsi18n' %}"></script>
                                        </table>

                                        {% if drl_formset %}
                                        <div id="drl-forms" class="text-center">
                                            {{ drl_formset.management_form }}
                                            <table class="table table-responsive text-center">
                                                <thead>
                                                    <th class="text-center">Range</th>
                                                    <th class="text-center">DRL <span style="text-transform: none;">[{{ drl_unit }}]</span></th>
                                                    <th class="text-center">Delete?</th>
                                                </thead>
                                                <tbody>
                                                    {% for drl_form in drl_formset %}
                                                        <tr class="drl-form">
                                                            {{ drl_form.id }}
                                                            <td>{{ drl_form.lower_bound }} <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{ drl_form.upper_bound }}</td>
                                                            <td>{{ drl_form.diagnostic_reference_level }}</td>
                                                            {% if drl_formset.can_delete %}
                                                                <td>{{ drl_form.DELETE }}</td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            
                                            <button class="btn btn-primary" id="add-drl" type="button">Add DRL</button>
                                        </div>
                                        {% endif %}

                                        {% if kfactor_formset %}
                                        <div id="kfactor-forms" class="text-center">
                                            {{ kfactor_formset.management_form }}
                                            <table class="table table-responsive text-center">
                                                <thead>
                                                    <th class="text-center">Range</th>
                                                    <th class="text-center">k-factor <span style="text-transform: none;">[{{ kfactor_unit }}]</span></th>
                                                    <th class="text-center">Delete?</th>
                                                </thead>
                                                <tbody>
                                                    {% for kfactor_form in kfactor_formset %}
                                                        <tr class="kfactor-form">
                                                            {{ kfactor_form.id }}
                                                            <td>{{ kfactor_form.lower_bound }} <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{ kfactor_form.upper_bound }}</td>
                                                            <td>{{ kfactor_form.k_factor }}</td>
                                                            {% if kfactor_formset.can_delete %}
                                                                <td>{{ kfactor_form.DELETE }}</td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            
                                            <button class="btn btn-primary" id="add-kfactor" type="button">Add k-factor</button>
                                        </div>
                                        {% endif %}

                                        <input class="btn btn-primary" name="submit" type="submit" id="submit-button" />
                                        <input type="button" class="btn btn-danger" value="Cancel" id="cancel-button"
                                               onclick="window.location = '{% url 'standard_names_view' %}';"/>
                                    </form>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>

                {% else %}
                <div class="row col-md-offset-2">
                    <p>Only users in the Admin group can create or modify standard names.</p>
                </div>

                {% endif %}

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(e) {
            $("#standard_name_form").submit(function() {
                $("#submit-button").val("Updating the database - this may take some time").attr("disabled", true);
                $("#cancel-button").attr("disabled", true);
                return;
            })
        });

        let drlForms = document.querySelectorAll(".drl-form");
        let addDRLButton = document.querySelector("#add-drl");
        let totalDRLForms = document.querySelector("#id_drl_formset-TOTAL_FORMS");

        let kFactorForms = document.querySelectorAll(".kfactor-form");
        let addKFactorButton = document.querySelector("#add-kfactor");
        let totalKFactorForms = document.querySelector("#id_kfactor_formset-TOTAL_FORMS");
        
        if (addDRLButton !== undefined && addDRLButton !== null) {
            addDRLButton.addEventListener('click', function(e) {addForm(e, drlForms, totalDRLForms)});
        }
        if (addKFactorButton !== undefined && addKFactorButton !== null) {
            addKFactorButton.addEventListener('click', function(e) {addForm(e, kFactorForms, totalKFactorForms)});
        }
        
        function addForm(e, forms, total){
            e.preventDefault();
            let formNum = forms.length;

            let referenceForm = forms[formNum - 1];
            let newForm = referenceForm.cloneNode(true);
            let formRegex = RegExp(`drl_formset-(\\d){1}-`,'g');

            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `drl_formset-${formNum}-`);
            newForm.querySelectorAll("input").forEach((formInput) => formInput.setAttribute("value", ""));
            referenceForm.after(newForm);
            
            total.setAttribute('value', `${formNum+1}`);
        }
    
    </script>

{% endblock %}
