{% load sort_class_property_value %}

<p>There are {{ name_set.count }} entries in this table. Back to the <a href="#top">top</a>.</p>
<table class="table table-bordered table-hover row-clickable sortable" id="standard_name_table_{{ modality }}" aria-describedby="{{ modality }} systems">
  <tr>
    <th scope="col">Standard name</th>
    <th scope="col">Study description</th>
    <th scope="col">Requested procedure name</th>
    <th scope="col">Procedure name</th>
    <th scope="col">Acquisition protocol name</th>
    <th scope="col">CTDIvol Limit (mGy)</th>
    {% if admin.admingroup %}
        <th style="text-align: center; vertical-align: middle;" scope="col">Modify?</th>
        <th style="text-align: center; vertical-align: middle;" scope="col">Delete?</th>
    {% endif %}
  </tr>

  {% regroup name_set by standard_name as grouped_name_list %}
  {% for standard_name in grouped_name_list %}
      <tr class="clickable-row">
          <td><a style="text-decoration: none">{{ standard_name.grouper }}</a></td>

          <td><a style="text-decoration: none">
            <table>
              {% for item in standard_name.list|sort_class_items:"study_description" %}
                  {% if item %}
                      <tr><td>{{ item }}</td></tr>
                  {% endif %}
              {% endfor %}
            </table>
          </a></td>

          <td><a style="text-decoration: none">
            <table>
              {% for item in standard_name.list|sort_class_items:"requested_procedure_code_meaning" %}
                  {% if item %}
                    <tr><td>{{ item }}</td></tr>
                  {% endif %}
              {% endfor %}
            </table>
          </a></td>

          <td><a style="text-decoration: none">
            <table>
              {% for item in standard_name.list|sort_class_items:"procedure_code_meaning" %}
                  {% if item %}
                    <tr><td>{{ item }}</td></tr>
                  {% endif %}
              {% endfor %}
            </table>
          </a></td>

          <td><a style="text-decoration: none">
            <table>
              {% for item in standard_name.list|sort_class_items:"acquisition_protocol" %}
                  {% if item %}
                    <tr><td>{{ item }}</td></tr>
                  {% endif %}
              {% endfor %}
            </table>
          </a></td>

          <td><a style="text-decoration: none">
            <table>
              {% with ctdi_value=standard_name.list.0.ctdi_limit %}
                {% if ctdi_value %}
                  <tr><td>{{ ctdi_value|floatformat:2 }}</td></tr>
                {% endif %}
              {% endwith %}
            </table>
          </a></td>

          {% if admin.admingroup %}
              <td style="text-align: center; vertical-align: middle;"><a href="{% url 'update_name' std_name_pk=standard_name.list.0.pk modality=modality %}" role="button">Modify</a></td>
              <td style="text-align: center; vertical-align: middle;"><a href="{% url 'standard_name_delete' pk=standard_name.list.0.pk %}" role="button">Delete</a></td>
          {% endif %}
      </tr>
  {% endfor %}

</table>
