<p>There are {{ name_set.count }} entries in this table. Back to the <a href="#top">top</a>.</p>
<table class="table table-bordered table-hover row-clickable sortable" id="standard_name_table_{{ modality }}" aria-describedby="{{ modality }} systems">
  <tr>
    <th scope="col">Standard name</th>
    <th scope="col">Study description</th>
    <th scope="col">Requested procedure name</th>
    <th scope="col">Procedure</th>
    <th scope="col">Acquisition protocol</th>
    {% if admin.admingroup %}
        <th style="text-align: center; vertical-align: middle;" scope="col">Modify?</th>
        <th style="text-align: center; vertical-align: middle;" scope="col">Delete?</th>
    {% endif %}
  </tr>
  {% for eachrow in name_set %}
    <tr class="clickable-row" row_name="{{ eachrow.id }}">
      <td><a style="text-decoration: none">{{ eachrow.standard_name }}</a></td>
      <td><a style="text-decoration: none">{{ eachrow.study_description|default_if_none:"-" }}</a></td>
      <td><a style="text-decoration: none">{{ eachrow.requested_procedure_code_meaning|default_if_none:"-" }}</a></td>
      <td><a style="text-decoration: none">{{ eachrow.procedure_code_meaning|default_if_none:"-" }}</a></td>
      <td><a style="text-decoration: none">{{ eachrow.acquisition_protocol|default_if_none:"-" }}</a></td>
      {% if admin.admingroup %}
          <td style="text-align: center; vertical-align: middle;"><a href="{% url 'update_name' std_name_pk=eachrow.pk modality=modality %}" role="button">Modify</a></td>
          <td style="text-align: center; vertical-align: middle;"><a href="{% url 'standard_name_delete' pk=eachrow.pk %}" role="button">Delete</a></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
