{% extends "remapp/base.html" %}

{% block headextras %}
    <link href="{{ STATIC_URL }}css/multi-select.css" rel="stylesheet">
{% endblock %}

{% block navhelp %}
        <li>
            <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/"
               target="_blank" data-toggle="tooltip"
               title="OpenREM documentation - opens in a new tab">
                OpenREM documentation
            </a>
        </li>
{% endblock %}

{% block confnav %}<li class="dropdown active">{% endblock %}

{% block mainblock %}		

      <div class="row col-md-offset-2">
        <h1>Create or modify a standard name for {{ form.modality.value }} systems</h1>
      </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Enter the standard name and select the required options.
                </div>

                {% if admin.admingroup %}
                <div class="panel-body">
                    <p>Any study description, requested procedure, procedure or acquisition protocol name already
                       present in another standard name mapping are excluded from the options on this form.</p>
                    <form action="" method="post" class="form-horizontal" role="form" id="standard_name_form">
                        {% csrf_token %}
                        <table  class="table table-bordered table-hover" aria-describedby="Add or modify a standard name">
                            {{ form }}
                        </table>

                        <script src="{{ STATIC_URL }}js/jquery.multi-select.js"></script>
                        <script src="{{ STATIC_URL }}js/jquery.quicksearch.js"></script>
                        <script>
                            $('.searchable').multiSelect({
                              selectableHeader: "<div class='panel-title'>Available items: <input type='text' class='search-input' autocomplete='off' placeholder='type to filter'></div>",
                              selectionHeader: "<div class='panel-title'>Selected items: <input type='text' class='search-input' autocomplete='off' placeholder='type to filter'></div>",
                              afterInit: function(ms){
                                var that = this,
                                    $selectableSearch = that.$selectableUl.prev(),
                                    $selectionSearch = that.$selectionUl.prev(),
                                    selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                                    selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                .on('keydown', function(e){
                                  if (e.which === 40){
                                    that.$selectableUl.focus();
                                    return false;
                                  }
                                });

                                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                .on('keydown', function(e){
                                  if (e.which == 40){
                                    that.$selectionUl.focus();
                                    return false;
                                  }
                                });
                              },
                              afterSelect: function(){
                                this.qs1.cache();
                                this.qs2.cache();
                              },
                              afterDeselect: function(){
                                this.qs1.cache();
                                this.qs2.cache();
                              }
                            });

                        </script>

                        <input class="btn btn-primary" name="submit" type="submit" id="submit-button" />
                        <input type="button" class="btn btn-danger" value="Cancel" id="cancel-button"
                               onclick="window.location = '{% url 'standard_names_view' %}';"/>
                    </form>
                </div>

                {% else %}
                <div class="row col-md-offset-2">
                    <p>Only users in the Admin group can create or modify standard names.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(e) {
            $("#standard_name_form").submit(function() {
                $("#submit-button").val("Updating the database - this may take some time").attr("disabled", true);
                $("#cancel-button").attr("disabled", true);
                return;
            })
        });
    </script>

{% endblock %}
